@charset "UTF-8";
/*=== - === - === - === - === - === - === - === - === - === - == */
/* --- L a   P a l e t t e   d u   g o û t
/*=== - === - === - === - === - === - === - === - === - === - == */
@font-face {
  font-family: myFirstFont;
  src: url(/Shrikhand-Regular.ttf);
}
.landing-entete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-entete__svgfleche {
  top: 18px;
  left: 1.6%;
  width: 4.59%;
  height: 1rem;
}
.landing-entete__svg {
  line-height: 2.75rem;
  font-size: 1.875rem;
  font-family: myFirstFont;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
}

.landing-entetecartes {
  position: relative;
  height: 63px;
}
.landing-entetecartes__fleche {
  position: absolute;
  top: 24px;
  left: 23px;
  width: 17.2px;
  height: 1rem;
}
.landing-entetecartes__svg {
  position: absolute;
  top: 14px;
  left: 28%;
  width: 43.2%;
  height: 44px;
  line-height: 2.75rem;
  font-size: 1.875rem;
  font-family: myFirstFont;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
}

@media only screen and (min-width: 1440px) {
  .landing-entete {
    position: relative;
    top: 0;
    left: 0;
    height: 96px;
  }
  .landing-entete__svgfleche {
    position: absolute;
    top: 40px;
    left: 1.6%;
    width: 1.19%;
    height: 1rem;
  }
  .landing-entete__svg {
    position: absolute;
    top: 30px;
    left: 43.05%;
    width: 13.89%;
  }
  .landing-entetecartes {
    position: relative;
    height: 63px;
  }
  .landing-entetecartes__fleche {
    position: absolute;
    top: 24px;
    left: 23px;
    width: 17.2px;
    height: 1rem;
  }
  .landing-entetecartes__svg {
    position: absolute;
    left: 42.986%;
    width: 13.888%;
    height: 2.1375rem;
    font-size: 1.875rem;
    font-family: myFirstFont;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #101010;
  }
}
.subfooter__container {
  position: relative;
  width: 100%;
  height: 186px;
  background: #353535;
}

.footlogo {
  /*height: 27px;*/
  width: 137.58px;
  font-family: myFirstFont;
  font-style: italic;
  width: 26.14%;
  /*height: 1.6875rem;*/
  /*line-height: 1.64rem;*/
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  padding: 22px 0 0 25px;
  margin-block: 0;
  /*margin-block: 10px;*/
}

.foot {
  width: 86.67%;
  height: 142px;
  padding: 22px 25px 22px 25px;
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.foot a {
  text-decoration-line: none;
  color: white;
}
.foot a p {
  margin-block: 0.2rem;
}

.footlien1 {
  display: flex;
  justify-content: left;
  width: 60%;
}
.footlien1__svg1 {
  width: 11px;
  height: 13px;
}

.footlien2 {
  display: flex;
  justify-content: left;
  width: 50%;
}
.footlien2__svg1 {
  width: 12px;
  height: 13px;
}

.footlien3 {
  display: inline;
}

.footlien4 {
  display: inline;
}

@media only screen and (min-width: 1440px) {
  .subfooter__container {
    position: relative;
    width: 100%;
    height: 114px;
  }
  .footlogo {
    position: absolute;
    top: 47px;
    left: 1276px;
    width: 9.55%;
    padding: 22px 0 0 25px;
    margin-block: 0;
  }
  .foot {
    width: 672px;
    height: 19px;
    padding: 64px 0 31px 598px;
    background: #353535;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .foot p {
    margin-block: 0;
    margin: 15px;
  }
  .footlien1 {
    width: 225px;
  }
  .footlien2 {
    width: 188px;
  }
  .footlien3 {
    width: 130px;
  }
  .footlien4 {
    width: 130px;
  }
}
.boutonviolet {
  height: 50px;
  width: 100%;
  color: white;
  line-height: 1.172rem;
  /* Button Gradient */
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}
.boutonviolet:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

body {
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

#landing {
  height: 694px;
  width: 100%;
}

.landingresto {
  position: relative;
  height: 620px;
}
.landingresto__img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.landingresto-container {
  position: absolute;
  top: 220px;
  height: 410px;
  width: 100%;
  background: #F7F7F7;
  border-radius: 25px 25px 0 0;
}
.landingresto-container-titre {
  display: flex;
  justify-content: space-around;
}
.landingresto-container-titre__nom {
  font-family: myFirstFont;
  font-weight: 400;
  font-style: italic;
  font-size: 1.75rem;
  line-Height: 2.55rem;
}
.landingresto-container-titre__coeur {
  width: 5.87%;
  height: 21px;
  line-Height: 2.55rem;
  margin-block: 2rem;
}
.landingresto-container__entrees {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.landingresto-container__entrees h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
}

.choixart {
  position: relative;
  width: 100%;
  height: 69px;
  padding: 0;
  margin-bottom: 12px;
  border-radius: 15.0431px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
}
.choixart-container:hover + .choixart-flag {
  background-color: red;
  transform: translatex(-59px);
  transition: transform 1000ms ease-in-out;
  background: #99E2D0;
}
.choixart-container:hover + .choixart-flag > .choixart-flag__col2 {
  transform: scale(1);
  transition: transform 1000ms ease-in-out;
}
.choixart-col:hover .choixart-col__lin2 {
  width: 280px;
}
.choixart-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 69px;
}
.choixart-col__lin1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: black;
  padding: 10px 0 0 10px;
}
.choixart-col__lin2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 10px 10px;
}
.choixart-col__lin2-gout {
  font-size: 0.94rem;
  width: 84%;
}
.choixart-col__lin2-prix {
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.125rem;
  margin-inline-end: 15px;
}

.choixart-flag {
  position: absolute;
  top: 0;
  left: 349px;
  width: 59px;
  height: 69px;
  border-radius: 0 15px 15px 0;
  background: none;
  transform: translatex(0);
  display: inline;
}
.choixart-flag__col2 {
  position: relative;
  background: #99E2D0;
  transform: scale(1);
}
.choixart-flag__svg {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.choixart, p {
  margin-block: 0;
}

#plats {
  height: 311px;
  background: #F7F7F7;
}

.plats-container {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.plats-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
  height: 20px;
}

#desserts {
  height: 330px;
  background: #F7F7F7;
}

.desserts-container {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.desserts-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
  height: 20px;
}

.commande {
  position: relative;
  width: 100%;
  height: 80px;
  background: #F7F7F7;
}
.commande__btn {
  position: absolute;
  top: 0;
  width: 49.6%;
  left: 25.2%;
}

@media only screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
  #landing {
    height: 830.66px;
    width: 100%;
  }
  .landingresto {
    position: relative;
    height: 757px;
  }
  .landingresto__img {
    height: 393px;
    width: 100%;
    object-fit: cover;
  }
  .landingresto-container {
    position: absolute;
    top: 343px;
    height: 445px;
    width: 73.2638%;
    background: #F7F7F7;
    border-radius: 25px 25px 0 0;
    margin: 0 13.4027% 0 13.4027%;
  }
  .landingresto-container-titre {
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landingresto-container-titre__nom {
    font-family: myFirstFont;
    font-weight: 400;
    font-style: italic;
    font-size: 1.75rem;
    width: 24.7393%;
  }
  .landingresto-container-titre__coeur {
    width: 2.085%;
    height: 21px;
    margin-block: 2rem;
    margin-left: 24px;
  }
  .landingresto-container__entrees {
    /*margin-bottom: 12px;*/
    width: 60.094%;
    /*height: 310px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 19.952% 0 19.952%;
  }
  .landingresto-container__entrees h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    line-height: 1.1875rem;
    text-transform: uppercase;
  }
  #plats {
    height: 311px;
    width: 73.263%;
    margin: 0 13.368% 0 13.368%;
    background: #F7F7F7;
  }
  .plats-container {
    margin: 20px 19.952% 0 19.952%;
    width: 60.094%;
  }
  #desserts {
    height: 330px;
    width: 73.263%;
    margin: 0 13.368% 0 13.368%;
    background: #F7F7F7;
  }
  .desserts-container {
    margin: 0 19.952% 0 19.952%;
    width: 60.094%;
  }
  .commande {
    position: relative;
    width: 73.263%;
    height: 80px;
    margin: 0 13.368% 0 13.368%;
    background: #F7F7F7;
  }
  .commande__btn {
    position: absolute;
    top: 0;
    width: 14.597%;
    left: 41.137%;
  }
}

/*# sourceMappingURL=cartesstyle.css.map */
