@charset "UTF-8";
/*=== - === - === - === - === - === - === - === - === - === - == */
/* --- C a r t e s
/*=== - === - === - === - === - === - === - === - === - === - == */
@font-face {
  font-family: myFirstFont;
  src: url(/Shrikhand-Regular.ttf);
}
@keyframes fill-up {
  0% {
    background-position: 0 -10px;
    opacity: 0;
  }
  100% {
    background-position: 0 -40px;
    opacity: 1;
  }
}
@keyframes drain-out {
  0% {
    background-position: 0 -40px;
    opacity: 1;
  }
  100% {
    background-position: 0 -10px;
    opacity: 0;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
    color: #9356DC;
  }
  50% {
    color: #008766;
  }
  100% {
    transform: rotate(25deg);
    color: #9356DC;
  }
}
@keyframes spin-revert {
  0% {
    transform: rotate(0);
    color: #9356DC;
  }
  50% {
    color: #008766;
  }
  100% {
    transform: rotate(-25deg);
    color: #9356DC;
  }
}
@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
@keyframes violetheart {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.container {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  /*animation: loading 35 * $duration linear backwards;*/
  animation: loading 300ms linear backwards;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.loader-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.loader-element-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-element-1 i {
  font-size: 10em;
  color: #ffffff;
  animation: spin 700ms 6 ease-in-out alternate-reverse;
}
.loader-element-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-element-2 i {
  font-size: 10em;
  color: #ffffff;
  animation: spin-revert 700ms 6 ease-in-out alternate-reverse;
}
.loader-text {
  font-family: "Shrikhand";
  font-size: 1.75em;
  font-weight: 400;
}

/* ---  1  --- */
#restodesc__3-1 {
  position: relative;
  width: 23px;
  height: 21px;
}
#restodesc__3-1_coeur {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#restodesc__3-1-linear1);
  stroke: #000;
  transition: all 1000ms;
}
#restodesc__3-1_coeur:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#restodesc__3-1_coeur:hover #restodesc__3-1-linear1 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#restodesc__3-1-linear1 {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

/* ---   2   --- */
#restodesc__3-2 {
  position: relative;
  width: 23px;
  height: 21px;
}
#restodesc__3-2_coeur {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#restodesc__3-2-linear2);
  stroke: #000;
  transition: all 1000ms;
}
#restodesc__3-2_coeur:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#restodesc__3-2_coeur:hover #restodesc__3-2-linear2 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#restodesc__3-2-linear2 {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

/* ---  3   --- */
#restodesc__3-3 {
  position: relative;
  width: 23px;
  height: 21px;
}
#restodesc__3-3_coeur {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#restodesc__3-3-linear3);
  stroke: #000;
  transition: all 1000ms;
}
#restodesc__3-3_coeur:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#restodesc__3-3_coeur:hover #restodesc__3-3-linear3 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#restodesc__3-3-linear3 {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

/* ---  4   --- */
#restodesc__3-4 {
  position: relative;
  width: 23px;
  height: 21px;
}
#restodesc__3-4_coeur {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#restodesc__3-4-linear4);
  stroke: #000;
  transition: all 1000ms;
}
#restodesc__3-4_coeur:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#restodesc__3-4_coeur:hover #restodesc__3-4-linear4 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#restodesc__3-4-linear4 {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

#landingresto-container-titre__coeur-palette {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#svg-linear-palette);
  stroke: #000;
  transition: all 1000ms;
}
#landingresto-container-titre__coeur-palette:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#landingresto-container-titre__coeur-palette:hover #svg-linear-palette {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#svg-linear-palette {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

#landingresto-container-titre__coeur-delices {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#svg-linear-delices);
  stroke: #000;
  transition: all 1000ms;
}
#landingresto-container-titre__coeur-delices:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#landingresto-container-titre__coeur-delices:hover #svg-linear-delices {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#svg-linear-delices {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

#landingresto-container-titre__coeur-note {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#svg-linear-note);
  stroke: #000;
  transition: all 1000ms;
}
#landingresto-container-titre__coeur-note:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#landingresto-container-titre__coeur-note:hover #svg-linear-note {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#svg-linear-note {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

#landingresto-container-titre__coeur-francaise {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#svg-linear-francaise);
  stroke: #000;
  transition: all 1000ms;
}
#landingresto-container-titre__coeur-francaise:hover {
  stroke: #f7f7f7;
  animation: violetheart 2000ms;
}
#landingresto-container-titre__coeur-francaise:hover #svg-linear-francaise {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}

#svg-linear-francaise {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

.landing-entete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-entete__svgfleche {
  top: 18px;
  left: 1.6%;
  width: 4.59%;
  height: 1rem;
}
.landing-entete__svg {
  font-size: 1.875rem;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
  padding-top: 10px;
}

.landing-entetecartes {
  position: relative;
  height: 63px;
}
.landing-entetecartes__fleche {
  position: absolute;
  top: 24px;
  left: 23px;
  width: 17.2px;
  height: 1rem;
}
.landing-entetecartes__svg {
  position: absolute;
  top: 14px;
  left: 28%;
  width: 43.2%;
  height: 44px;
  line-height: 2.75rem;
  font-size: 1.875rem;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
}

@media only screen and (min-width: 1440px) {
  .landing-entete {
    position: relative;
    top: 0;
    left: 0;
    height: 96px;
  }
  .landing-entete__svgfleche {
    position: absolute;
    top: 40px;
    left: 1.6%;
    width: 1.19%;
    height: 1rem;
  }
  .landing-entete__svg {
    position: absolute;
    top: 30px;
    left: 43.05%;
    width: 13.89%;
    padding-bottom: 20px;
  }
  .landing-entetecartes {
    position: relative;
    height: 63px;
  }
  .landing-entetecartes__fleche {
    position: absolute;
    top: 24px;
    left: 23px;
    width: 17.2px;
    height: 1rem;
  }
  .landing-entetecartes__svg {
    position: absolute;
    left: 42.986%;
    width: 13.888%;
    height: 2.1375rem;
    font-size: 1.875rem;
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #101010;
  }
}
#subfooter__container {
  /*position: relative;*/
  width: 100%;
  height: 186px;
  background: #353535;
}

.footlogo {
  /*height: 27px;*/
  width: 137.58px;
  /*font-family: myFirstFont;*/
  font-family: Shrikhand;
  font-style: italic;
  width: 26.14%;
  /*height: 1.6875rem;*/
  /*line-height: 1.64rem;*/
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  padding: 22px 0 0 25px;
  margin-block: 0;
  /*margin-block: 10px;*/
}

.foot {
  width: 86.67%;
  height: 142px;
  padding: 22px 25px 22px 25px;
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.foot a {
  text-decoration-line: none;
  color: white;
}
.foot a p {
  margin-block: 0.2rem;
}

.footlien1 {
  display: flex;
  justify-content: left;
  width: 60%;
}
.footlien1__svg1 {
  width: 11px;
  height: 13px;
}

.footlien2 {
  display: flex;
  justify-content: left;
  width: 50%;
}
.footlien2__svg1 {
  width: 12px;
  height: 13px;
}

.footlien3 {
  display: inline;
}

.footlien4 {
  display: inline;
}

@media only screen and (min-width: 1440px) {
  #subfooter__container {
    position: relative;
    width: 100%;
    height: 114px;
  }
  .footlogo {
    position: absolute;
    top: 47px;
    left: 1276px;
    width: 9.55%;
    padding: 22px 0 0 25px;
    margin-block: 0;
  }
  .foot {
    width: 672px;
    height: 19px;
    padding: 64px 0 31px 598px;
    background: #353535;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .foot p {
    margin-block: 0;
    margin: 15px;
  }
  .footlien1 {
    width: 225px;
  }
  .footlien2 {
    width: 188px;
  }
  .footlien3 {
    width: 130px;
  }
  .footlien4 {
    width: 130px;
  }
}
.boutonviolet {
  height: 50px;
  width: 100%;
  color: white;
  line-height: 1.172rem;
  /* Button Gradient */
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}
.boutonviolet:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

body {
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

/* --- Tous sauf enchantée --- */
#landing {
  height: 694px;
  width: 100%;
}

.landingresto {
  position: relative;
  height: 620px;
}
.landingresto__img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.landingresto-container {
  position: absolute;
  top: 220px;
  height: 410px;
  width: 100%;
  background: #F7F7F7;
  border-radius: 25px 25px 0 0;
}
.landingresto-container-titre {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landingresto-container-titre__nom {
  font-family: Shrikhand;
  font-weight: 400;
  font-style: italic;
  font-size: 1.75rem;
  margin-right: 30px;
  white-space: nowrap;
}
.landingresto-container-titre__coeur {
  width: 5.87%;
  height: 21px;
  line-Height: 2.55rem;
  margin-block: 2rem;
}
.landingresto-container__entrees {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.landingresto-container__entrees h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
}

/* --- Spécial note enchantée --- */
#landingne {
  height: 770px;
  width: 100%;
}

.landingrestone {
  position: relative;
  height: 650px;
}
.landingrestone__img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.landingrestone-container {
  position: absolute;
  top: 220px;
  height: 490px;
  width: 100%;
  background: #F7F7F7;
  border-radius: 25px 25px 0 0;
}
.landingrestone-container-titre {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landingrestone-container-titre__nom {
  font-family: Shrikhand;
  font-weight: 400;
  font-style: italic;
  font-size: 1.75rem;
}
.landingrestone-container-titre__coeur {
  width: 5.87%;
  height: 21px;
  margin-block: 2rem;
}
.landingrestone-container__entrees {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.landingrestone-container__entrees h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
}

/* --- Fin spécial Note Enchantée --- */
/* --- ESSAI BV --- */
.menu-card-section_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 635px;
  height: 70px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 12px;
}
.menu-card-section_item_description {
  margin: 8px 0px 0px 8px;
  overflow: hidden;
  z-index: 1;
  /*width: 80%;*/
  /*width: 266px;*/
}
.menu-card-section_item_description h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: black;
  max-width: 600px;
  white-space: nowrap;
  margin: 0;
  padding-top: 5px;
  width: 287px;
  /*
                  overflow: hidden;
                  text-overflow: ellipsis;
  */
}
.menu-card-section_item_description p {
  margin: 0;
  padding-top: 5px;
  font-size: 0.9375em;
  font-weight: 500;
  padding-bottom: 5px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 287px;
}
.menu-card-section_item .transition-choice {
  display: flex;
  height: 70px;
  transform: translateX(0px);
  transition: transform ease-in-out 300ms;
  position: relative;
  /*right: -60px;*/
  margin-inline-end: -60px;
}
.menu-card-section_item:hover > .transition-choice {
  transform: translateX(-60px);
}
.menu-card-section_item:hover .menu-card-section_item_description p {
  width: 230px;
}
.menu-card-section_item_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 27px;
  margin: 0 8px 0 8px;
}
.menu-card-section_item_price p {
  font-weight: 700;
  font-size: 0.9375em;
}
.menu-card-section_item--selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
}
.menu-card-section_item--selected i {
  color: #ffffff;
  font-size: 1.25em;
}

/* --- F I N ESSAI BV --- */
#plats {
  height: 311px;
  background: #F7F7F7;
}

.plats-container {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.plats-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
  height: 20px;
}

#desserts {
  height: 330px;
  background: #F7F7F7;
}

.desserts-container {
  margin: 0 13px 12px 13px;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
}
.desserts-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 1.1875rem;
  text-transform: uppercase;
  height: 20px;
}

#commande {
  position: relative;
  width: 100%;
  height: 80px;
  background: #F7F7F7;
}
#commande__btn {
  position: absolute;
  top: 0;
  width: 49.6%;
  left: 25.2%;
}

@media only screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
  #landing {
    height: 830.66px;
    width: 100%;
  }
  #landingne {
    height: 911.66px;
    width: 100%;
  }
  .menu-card-section_item:hover .menu-card-section_item_description p {
    width: 550px;
  }
  .landingresto {
    position: relative;
    height: 757px;
  }
  .landingresto__img {
    height: 393px;
    width: 100%;
    object-fit: cover;
  }
  .landingresto-container {
    position: absolute;
    top: 343px;
    height: 445px;
    width: 73.2638%;
    background: #F7F7F7;
    border-radius: 25px 25px 0 0;
    margin: 0 13.4027% 0 13.4027%;
  }
  .landingresto-container-titre {
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landingresto-container-titre__nom {
    font-family: Shrikhand;
    font-weight: 400;
    font-style: italic;
    font-size: 1.75rem;
    width: 24.7393%;
  }
  .landingresto-container-titre__coeur {
    width: 2.085%;
    height: 21px;
    margin-block: 2rem;
    margin-left: 24px;
  }
  .landingresto-container__entrees {
    /*margin-bottom: 12px;*/
    width: 60.094%;
    /*height: 310px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 19.952% 0 19.952%;
  }
  .landingresto-container__entrees h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
  /* --- Spécial NoteEnchantée --- */
  .landingrestone {
    position: relative;
    height: 838px;
  }
  .landingrestone__img {
    height: 393px;
    width: 100%;
    object-fit: cover;
  }
  .landingrestone-container {
    position: absolute;
    top: 343px;
    height: 526px;
    width: 73.2638%;
    background: #F7F7F7;
    border-radius: 25px 25px 0 0;
    margin: 0 13.4027% 0 13.4027%;
  }
  .landingrestone-container-titre {
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landingrestone-container-titre__nom {
    font-family: Shrikhand;
    font-weight: 400;
    font-style: italic;
    font-size: 1.75rem;
    width: 24.7393%;
  }
  .landingrestone-container-titre__coeur {
    width: 2.085%;
    height: 21px;
    margin-block: 2rem;
    margin-left: 24px;
  }
  .landingrestone-container__entrees {
    /*margin-bottom: 12px;*/
    width: 60.094%;
    /*height: 310px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 19.952% 0 19.952%;
  }
  .landingrestone-container__entrees h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
  /* --- F I N  Spécial NoteEnchantée --- */
  #plats {
    height: 311px;
    width: 73.263%;
    margin: 0 13.368% 0 13.368%;
    background: #F7F7F7;
  }
  .plats-container {
    margin: 20px 19.952% 0 19.952%;
    width: 60.094%;
  }
  #desserts {
    height: 330px;
    width: 73.263%;
    margin: 0 13.368% 0 13.368%;
    background: #F7F7F7;
  }
  .desserts-container {
    margin: 0 19.952% 0 19.952%;
    width: 60.094%;
  }
  #commande {
    position: relative;
    width: 73.263%;
    height: 80px;
    margin: 0 13.368% 0 13.368%;
    background: #F7F7F7;
  }
  #commande__btn {
    position: absolute;
    top: 0;
    width: 14.597%;
    left: 41.137%;
  }
}

/*# sourceMappingURL=cartesstyle.css.map */
