@font-face {
  font-family: myFirstFont;
  src: url(/Shrikhand-Regular.ttf);
}
@keyframes fill-up {
  0% {
    background-position: 0 -10px;
    opacity: 0;
  }
  100% {
    background-position: 0 -40px;
    opacity: 1;
  }
}
@keyframes drain-out {
  0% {
    background-position: 0 -40px;
    opacity: 1;
  }
  100% {
    background-position: 0 -10px;
    opacity: 0;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
    color: #9356DC;
  }
  50% {
    color: #008766;
  }
  100% {
    transform: rotate(25deg);
    color: #9356DC;
  }
}
@keyframes spin-revert {
  0% {
    transform: rotate(0);
    color: #9356DC;
  }
  50% {
    color: #008766;
  }
  100% {
    transform: rotate(-25deg);
    color: #9356DC;
  }
}
@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.container {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  /*animation: loading 35 * $duration linear backwards;*/
  animation: loading 300ms linear backwards;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.loader-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.loader-element-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-element-1 i {
  font-size: 10em;
  color: #ffffff;
  animation: spin 700ms 6 ease-in-out alternate-reverse;
}
.loader-element-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-element-2 i {
  font-size: 10em;
  color: #ffffff;
  animation: spin-revert 700ms 6 ease-in-out alternate-reverse;
}
.loader-text {
  font-family: "Shrikhand";
  font-size: 1.75em;
  font-weight: 400;
}

.favorite {
  position: relative;
  height: 25px;
  width: 33px;
}
.favorite__clicked {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.favorite__clicked-heart {
  opacity: 0;
  background-image: linear-gradient(#FFFFFF 0 50%, #9356dc 50% 65%, #FF79DA);
  background-size: auto 60px;
  background-position: 0 0px;
  color: transparent;
  animation: drain-out 500ms ease-in both;
}
.favorite__clicked-heart:hover {
  animation: fill-up 500ms ease-in both;
}

.fa-heart {
  font-size: 1.8rem;
  cursor: pointer;
}

/*
    &__clicked {
        position: absolute;
        @include poisition-0;
        &-heart {
            opacity: 0;
            color: linear-gradient(#FFFFFF 0 50%, $col-violet 50% 65% , $col-pink);
            background-size: auto 60px;
            background-position: 0 0px;
            color: transparent;
            animation: drain-out 5 * $duration ease-in  both;
            &:hover {
                animation: fill-up 5 * $duration ease-in  both;
            }
        }
    }

}
*/
.landing-entete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-entete__svgfleche {
  top: 18px;
  left: 1.6%;
  width: 4.59%;
  height: 1rem;
}
.landing-entete__svg {
  font-size: 1.875rem;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
  padding-top: 10px;
}

.landing-entetecartes {
  position: relative;
  height: 63px;
}
.landing-entetecartes__fleche {
  position: absolute;
  top: 24px;
  left: 23px;
  width: 17.2px;
  height: 1rem;
}
.landing-entetecartes__svg {
  position: absolute;
  top: 14px;
  left: 28%;
  width: 43.2%;
  height: 44px;
  line-height: 2.75rem;
  font-size: 1.875rem;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
}

@media only screen and (min-width: 1440px) {
  .landing-entete {
    position: relative;
    top: 0;
    left: 0;
    height: 96px;
  }
  .landing-entete__svgfleche {
    position: absolute;
    top: 40px;
    left: 1.6%;
    width: 1.19%;
    height: 1rem;
  }
  .landing-entete__svg {
    position: absolute;
    top: 30px;
    left: 43.05%;
    width: 13.89%;
    padding-bottom: 20px;
  }
  .landing-entetecartes {
    position: relative;
    height: 63px;
  }
  .landing-entetecartes__fleche {
    position: absolute;
    top: 24px;
    left: 23px;
    width: 17.2px;
    height: 1rem;
  }
  .landing-entetecartes__svg {
    position: absolute;
    left: 42.986%;
    width: 13.888%;
    height: 2.1375rem;
    font-size: 1.875rem;
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #101010;
  }
}
#subfooter__container {
  /*position: relative;*/
  width: 100%;
  height: 186px;
  background: #353535;
}

.footlogo {
  /*height: 27px;*/
  width: 137.58px;
  /*font-family: myFirstFont;*/
  font-family: Shrikhand;
  font-style: italic;
  width: 26.14%;
  /*height: 1.6875rem;*/
  /*line-height: 1.64rem;*/
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  padding: 22px 0 0 25px;
  margin-block: 0;
  /*margin-block: 10px;*/
}

.foot {
  width: 86.67%;
  height: 142px;
  padding: 22px 25px 22px 25px;
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.foot a {
  text-decoration-line: none;
  color: white;
}
.foot a p {
  margin-block: 0.2rem;
}

.footlien1 {
  display: flex;
  justify-content: left;
  width: 60%;
}
.footlien1__svg1 {
  width: 11px;
  height: 13px;
}

.footlien2 {
  display: flex;
  justify-content: left;
  width: 50%;
}
.footlien2__svg1 {
  width: 12px;
  height: 13px;
}

.footlien3 {
  display: inline;
}

.footlien4 {
  display: inline;
}

@media only screen and (min-width: 1440px) {
  #subfooter__container {
    position: relative;
    width: 100%;
    height: 114px;
  }
  .footlogo {
    position: absolute;
    top: 47px;
    left: 1276px;
    width: 9.55%;
    padding: 22px 0 0 25px;
    margin-block: 0;
  }
  .foot {
    width: 672px;
    height: 19px;
    padding: 64px 0 31px 598px;
    background: #353535;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .foot p {
    margin-block: 0;
    margin: 15px;
  }
  .footlien1 {
    width: 225px;
  }
  .footlien2 {
    width: 188px;
  }
  .footlien3 {
    width: 130px;
  }
  .footlien4 {
    width: 130px;
  }
}
.boutonviolet {
  height: 50px;
  width: 100%;
  color: white;
  line-height: 1.172rem;
  /* Button Gradient */
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}
.boutonviolet:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

body {
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 500;
}

#header {
  height: 63px;
}

.landing-restaurant {
  width: 100%;
  /*height: 5.95vh;*/
  height: 50px;
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-restaurant__svg {
  width: 12px;
  height: 1rem;
  margin-right: 20px;
}

.landing-choixmenu {
  width: 100%;
  /*height: 34.16vh;*/
  height: 287px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*padding: 20px 0;*/
}
.landing-choixmenu__p1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 0;
  text-align: center;
  width: 73.33%;
  padding-top: 20px;
}
.landing-choixmenu__p2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin-block: 0;
  text-align: center;
  width: 84%;
  overflow-wrap: normal;
}
.landing-choixmenu__btn {
  width: 58.14%;
  padding-bottom: 40px;
}

.landing-fonctionnement {
  position: relative;
  width: 100%;
  height: 390px;
}
.landing-fonctionnement h1 {
  position: absolute;
  top: 48px;
  left: 20px;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 0;
}
.landing-fonctionnement__container {
  position: absolute;
  top: 105px;
  width: 100%;
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fonctionart {
  width: 86%;
  height: 72.38px;
  box-shadow: 0 0 15px -3px;
  border-radius: 20px;
  margin: 0 15px 24px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fonctionart__cn {
  position: relative;
  margin-right: 10px;
  width: 10px;
  height: 72.38px;
}
.fonctionart span:nth-child(1) {
  position: absolute;
  left: -18px;
  top: 19px;
  height: 24px;
  width: 24px;
  /*line-height: 20px;*/
}
.fonctionart__no {
  position: absolute;
  left: 8px;
  top: 6px;
  width: 8px;
  height: 11px;
}
.fonctionart__symbol {
  width: 16px;
  height: 21px;
  display: inline;
}
.fonctionart__symbolh {
  width: 16px;
  height: 21px;
  display: none;
  transform: translateX(0);
}
.fonctionart__texte {
  width: 80.66%;
  height: 1.3125rem;
  font-weight: 500;
  white-space: nowrap;
}
.fonctionart__a {
  color: black;
  text-decoration: none;
}
.fonctionart:hover > .fonctionart__symbol > .fonctionart__fillsymbol {
  fill: #9356dc;
}

#main {
  height: 1195px;
  width: 100%;
  margin-top: 47px;
  background: #F6F6F6;
}

.restos {
  position: relative;
}
.restos h1 {
  position: absolute;
  top: 54px;
  left: 15px;
  height: 31px;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.76rem;
  margin-block: 0;
  margin-bottom: 8px;
}
.restos__container {
  position: absolute;
  top: 85px;
  width: 100%;
  height: 318px;
  margin: 10px 14.5px 10px 14.5px;
  display: flex;
  flex-wrap: wrap;
}
.restos__container-l1 {
  width: 346px;
  height: 522px;
}
.restos__container-l2 {
  width: 346px;
}

.restoart {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 251px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restoart__top {
  position: relative;
  height: 174px;
  width: 100%;
}
.restoart__top-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restoart__top-nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restoart__top-nouveau p {
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #008766;
  margin-block: 0;
  margin-inline: 0;
  padding-top: 4px;
}

.restodesc {
  position: relative;
  height: 77px;
  display: grid;
  grid-template-columns: 261px 80px;
  grid-template-rows: 36px 36px;
}
.restodesc__1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.restodesc__p1 {
  margin-block: 10px 0;
  margin-inline: 10px 0;
  font-size: 18px;
  font-weight: 700;
}
.restodesc__2 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-block: 0;
}
.restodesc__p2 {
  margin-block: 2px 0;
  margin-inline: 10px 0;
  font-size: 17px;
  font-weight: 300;
}
.restodesc__3 {
  position: absolute;
  top: 18px;
  left: 18px;
  grid-column: 2/3;
}

/* ---  1  a --- */
#restodesc__3-1 {
  position: relative;
  width: 23px;
  height: 21px;
  /*
          &::after {
              @include pseudo-elem-after;
              opacity: 0;
              z-index: -1;
              transition: opacity 10s;
          }
  */
}
#restodesc__3-1:hover #restodesc__3-1_coeur {
  stroke: #f7f7f7;
  opacity: 1;
}
#restodesc__3-1:hover #restodesc__3-1_coeur #restodesc__3-1-linear1 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}
#restodesc__3-1_coeur {
  width: 23px;
  height: 21px;
  z-index: 1;
  fill: url(#restodesc__3-1-linear1);
  stroke: #000;
  transition: all 1000ms;
}

#restodesc__3-1-linear1 {
  --color-stop: #FFF;
  --color-bot: #FFF;
}

/* Fin 1 a  --- */
/* ---  1  b --- */
/*
#restodesc__3 {
    &-1 {
        position: relative;
        width: 23px;
        height: 21px;

        &:hover {
            #restodesc__3-1_coeur {
                stroke: #f7f7f7;
                opacity: 1;
            }
        }

        &_coeur {
            width: 23px;
            height: 21px;
            z-index: 1;
            stroke: #000;
            transition: all 10 * $duration;

            &-path {
                fill: $col-white;
            }

            &:hover &-path {

                    fill: $col-violet;

           }
        }
    }
}
#restodesc__3-1-linear1 {
    --color-stop: #FF0000;
    --color-bot: #FFF;
}
*/
/* Fin 1 b   */
/* ---   2   --- */
#restodesc__3-2 {
  position: relative;
  width: 23px;
  height: 21px;
}
#restodesc__3-2:hover #restodesc__3-2_coeur {
  stroke: #f7f7f7;
  background-color: linear-gradient bottom to top, #9356dc, #FF79DA;
}
#restodesc__3-2:hover::after {
  opacity: 1;
}
#restodesc__3-2_coeur {
  width: 23px;
  height: 21px;
  z-index: 1;
  background-color: linear-gradient bottom to top, #FFF, #FFF;
  stroke: #000;
  transition: all 1000ms;
}
#restodesc__3-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 10s;
}

#restodesc__3-2-linear2 {
  --color-stop: #ffffff;
  --color-bot: #ffffff;
}

/* ---  3   --- */
#restodesc__3-3 {
  position: absolute;
  top: 18px;
  left: 18px;
  grid-column: 2/3;
  width: 23px;
  height: 21px;
}
#restodesc__3-3:active #restodesc__3-3-linear3 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}
#restodesc__3-3:active #restodesc__3-3_coeur {
  stroke: none;
}
#restodesc__3-3_coeur {
  fill: url(#restodesc__3-3-linear3);
  stroke: #000;
}

#restodesc__3-3-linear3 {
  --color-stop: #ffffff;
  --color-bot: #ffffff;
}

/* ---  4   --- */
#restodesc__3-4 {
  position: absolute;
  top: 18px;
  left: 18px;
  grid-column: 2/3;
  width: 23px;
  height: 21px;
}
#restodesc__3-4:active #restodesc__3-4-linear4 {
  --color-stop: #9356dc;
  --color-bot: #FF79DA;
}
#restodesc__3-4:active #restodesc__3-4_coeur {
  stroke: none;
}
#restodesc__3-4_coeur {
  fill: url(#restodesc__3-4-linear4);
  stroke: #000;
}

#restodesc__3-4-linear4 {
  --color-stop: #ffffff;
  --color-bot: #ffffff;
}

@media only screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
  #header {
    height: 96px;
  }
  .landing-restaurant {
    width: 100%;
    height: 50px;
  }
  .landing-restaurant__svg {
    width: 12px;
    margin-right: 17px;
  }
  .landing-choixmenu {
    height: 239px;
  }
  .landing-choixmenu__p1 {
    width: 44.79%;
    font-size: 2.5rem;
  }
  .landing-choixmenu__p2 {
    width: 40%;
    font-size: 1.125rem;
    font-weight: 300;
  }
  .landing-choixmenu__btn {
    width: 15.14%;
  }
  .landing-choixmenuflex {
    display: flex;
  }
  .landing-fonctionnement {
    position: relative;
    height: 228.38px;
    margin: 0 12.2% 0 12.2%;
    width: 73.33%;
  }
  .landing-fonctionnement h1 {
    position: absolute;
    top: 50px;
    line-height: 1.75rem;
  }
  .landing-fonctionnement__container {
    position: absolute;
    top: 105px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-fonctionnement .fonctionart {
    position: relative;
    width: 31.265%;
    height: 72.38px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .landing-fonctionnement .fonctionart span:nth-child(1) {
    position: absolute;
    left: -18px;
    top: 19px;
    height: 35px;
    width: 35px;
    line-height: 20px;
  }
  .landing-fonctionnement .fonctionart__no {
    position: absolute;
    left: 14px;
    top: 7px;
    width: 5px;
    height: 24px;
  }
  .landing-fonctionnement .fonctionart__symbol {
    position: absolute;
    left: 10.48%;
    top: 24px;
    width: 14px;
    height: 20px;
  }
  .landing-fonctionnement .fonctionart__texte {
    width: 75%;
    height: 0.9793rem;
    white-space: nowrap;
  }
  .landing-fonctionnement .fonctionart__a {
    position: absolute;
    top: 12px;
    line-height: 1.1875rem;
    color: black;
    text-decoration: none;
  }
  #main {
    height: 668px;
    width: 100%;
    background: #F6F6F6;
    margin: 0;
  }
  .restos {
    position: relative;
    margin: 0 12.2% 0 12.2%;
    width: 76.6%;
    height: 668px;
  }
  .restos h1 {
    position: absolute;
    top: 30px;
    height: 1.75rem;
  }
  .restos__container {
    position: absolute;
    top: 85px;
    height: 582px;
    width: 1088.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .restos__container-l1 {
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .restos__container-l2 {
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restoart {
    width: 490px;
  }
  .restodesc {
    position: relative;
    height: 77px;
    display: grid;
    grid-template-columns: 77.16% 17.62%;
    grid-template-rows: 40px 40px;
  }
  .restodesc__p1 {
    margin-block: 10px 0;
    margin-inline: 10px 0;
    font-size: 18px;
    font-weight: 700;
  }
  .restodesc__p2 {
    margin-block: 2px 0;
    margin-inline: 10px 0;
    font-size: 17px;
    font-weight: 300;
  }
  .restodesc__3 {
    position: absolute;
    top: 18px;
    left: 18px;
    grid-column: 2/3;
    width: 23px;
    height: 21px;
  }
  .footer__container {
    height: 114px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
