@font-face {
  font-family: myFirstFont;
  src: url(/Shrikhand-Regular.ttf);
}
.landing-entete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-entete__svgfleche {
  top: 18px;
  left: 1.6%;
  width: 4.59%;
  height: 1rem;
}
.landing-entete__svg {
  line-height: 2.75rem;
  font-size: 1.875rem;
  font-family: myFirstFont;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
}

.landing-entetecartes {
  position: relative;
  height: 63px;
}
.landing-entetecartes__fleche {
  position: absolute;
  top: 24px;
  left: 23px;
  width: 17.2px;
  height: 1rem;
}
.landing-entetecartes__svg {
  position: absolute;
  top: 14px;
  left: 28%;
  width: 43.2%;
  height: 44px;
  line-height: 2.75rem;
  font-size: 1.875rem;
  font-family: myFirstFont;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #101010;
  margin-block: 0;
}

@media only screen and (min-width: 1440px) {
  .landing-entete {
    position: relative;
    top: 0;
    left: 0;
    height: 96px;
  }
  .landing-entete__svgfleche {
    position: absolute;
    top: 40px;
    left: 1.6%;
    width: 1.19%;
    height: 1rem;
  }
  .landing-entete__svg {
    position: absolute;
    top: 30px;
    left: 43.05%;
    width: 13.89%;
  }
}
.subfooter__container {
  width: 100%;
  height: 186px;
}

.foot {
  width: 86.67%;
  height: 142px;
  padding: 22px 25px 22px 25px;
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.foot a {
  text-decoration-line: none;
  color: white;
}
.foot a p {
  margin-block: 0.2rem;
}
.foot__titre {
  font-family: myFirstFont;
  font-style: italic;
  width: 26.14%;
  height: 1.6875rem;
  line-height: 1.64rem;
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  margin-block: 10px;
}

.footlien1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.footlien1__svg1 {
  width: 11px;
  height: 13px;
}

.footlien2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footlien2__svg1 {
  width: 12px;
  height: 13px;
}

.footlien3 {
  display: inline;
}

.footlien4 {
  display: inline;
}

@media only screen and (min-width: 1440px) {
  .subfooter__container {
    position: relative;
    width: 100%;
    height: 114px;
  }
  .foot {
    position: absolute;
    width: 100%;
    height: 19px;
    padding: 64px 0 31px 0;
    background: #353535;
    display: inline;
  }
  .foot__titre {
    position: absolute;
    left: 88.549%;
    line-height: 26.24px;
    font-weight: 400;
    font-size: 1.125rem;
    color: white;
    margin-block: 0;
    width: 9.554%;
  }
  .footlien1 {
    position: absolute;
    left: 41.597%;
    width: 11.67%;
  }
  .footlien1 p {
    position: absolute;
    left: 43.125%;
    width: 11.67%;
    margin-block: 0;
  }
  .footlien2 {
    position: absolute;
    left: 55.28%;
    margin-block: 0;
  }
  .footlien2 p {
    position: absolute;
    left: 56.805%;
    margin-block: 0;
    width: 11.67%;
  }
  .footlien3 p {
    position: absolute;
    width: 9.027%;
    left: 68.958%;
    margin-block: 0;
  }
  .footlien4 p {
    margin-block: 0;
    position: absolute;
    width: 9.027%;
    left: 78.47%;
  }
}
.boutonviolet {
  height: 50px;
  width: 100%;
  color: white;
  line-height: 1.172rem;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

body {
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 500;
}

.landing-restaurant {
  width: 100%;
  height: 5.95vh;
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-restaurant__svg {
  width: 12px;
  height: 1rem;
  margin-right: 20px;
}

.landing-choixmenu {
  width: 100%;
  height: 34.17vh;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.landing-choixmenu__p1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 0;
  text-align: center;
  width: 73.33%;
}
.landing-choixmenu__p2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin-block: 0;
  text-align: center;
  width: 84%;
  /*line-height: 1.32rem;        */
}
.landing-choixmenu__btn {
  width: 58.14%;
}

.landing-fonctionnement {
  position: relative;
  width: 100%;
  height: 52.38vh;
}
.landing-fonctionnement h1 {
  position: absolute;
  top: 48px;
  left: 20px;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.76rem;
  margin-block: 0;
}
.landing-fonctionnement__container {
  position: absolute;
  top: 105px;
  width: 100%;
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fonctionart {
  width: 86%;
  height: 8.6vh;
  box-shadow: 0 0 15px -3px;
  border-radius: 20px;
  margin: 0 15px 24px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fonctionart__cn {
  position: relative;
  margin-right: 10px;
  width: 10px;
  height: 72.38px;
}
.fonctionart span:nth-child(1) {
  position: absolute;
  left: -18px;
  top: 19px;
  height: 35px;
  width: 35px;
  /*line-height: 20px;*/
}
.fonctionart__no {
  position: absolute;
  left: 14px;
  top: 14px;
  width: 8px;
  height: 11px;
}
.fonctionart__symbol {
  position: relative;
  width: 16px;
  height: 21px;
}
.fonctionart__texte {
  width: 80.66%;
  height: 1.3125rem;
  font-weight: 500;
  white-space: nowrap;
}
.fonctionart__a {
  color: black;
  text-decoration: none;
}

#main {
  height: 1450px;
  width: 100%;
  margin-top: 47px;
  background: #F6F6F6;
}

.restos {
  position: relative;
}
.restos h1 {
  position: absolute;
  top: 54px;
  left: 15px;
  height: 31px;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.76rem;
  margin-block: 0;
  margin-bottom: 8px;
}
.restos__container {
  position: absolute;
  top: 85px;
  height: 318px;
  margin: 10px 14.5px 10px 14.5px;
  display: flex;
  flex-wrap: wrap;
}

.restoart {
  position: relative;
  margin: 10px 0 10px 0;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restoart__img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restodesc {
  position: relative;
  display: grid;
  grid-template-columns: 261px 80px;
  grid-template-rows: 36px 36px;
}
.restodesc__1 {
  grid-column: 1/2;
}
.restodesc__p1 {
  margin-block: 10px 0;
  margin-inline: 10px 0;
  font-size: 18px;
  font-weight: 700;
}
.restodesc__2 {
  grid-column: 1/2;
  margin-block: 0;
}
.restodesc__p2 {
  margin-block: 2px 0;
  margin-inline: 10px 0;
  font-size: 17px;
  font-weight: 300;
}
.restodesc__3 {
  position: absolute;
  top: 18px;
  left: 18px;
  grid-column: 2/3;
  width: 23px;
  height: 21px;
}

@media only screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
  .landing-restaurant {
    width: 100%;
    height: 50px;
  }
  .landing-restaurant__svg {
    width: 12px;
    margin-right: 17px;
  }
  .landing-choixmenu {
    height: 239px;
  }
  .landing-choixmenu__p1 {
    width: 44.79%;
    font-size: 2.5rem;
  }
  .landing-choixmenu__p2 {
    width: 36.875%;
    font-size: 1.125rem;
    font-weight: 300;
  }
  .landing-choixmenu__btn {
    width: 15.14%;
  }
  .landing-fonctionnement {
    height: 228.38px;
    margin: 0 14.375% 0 13.36875%;
    width: 73.33%;
  }
  .landing-fonctionnement h1 {
    position: absolute;
    top: 50px;
    line-height: 1.75rem;
  }
  .landing-fonctionnement__container {
    position: absolute;
    top: 105px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-fonctionnement .fonctionart {
    position: relative;
    width: 31.265%;
    height: 72.38px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .landing-fonctionnement .fonctionart span:nth-child(1) {
    position: absolute;
    left: -18px;
    top: 19px;
    height: 35px;
    width: 35px;
    line-height: 20px;
  }
  .landing-fonctionnement .fonctionart__no {
    position: absolute;
    left: 14px;
    top: 7px;
    width: 5px;
    height: 24px;
  }
  .landing-fonctionnement .fonctionart__symbol {
    position: absolute;
    left: 10.48%;
    top: 24px;
    width: 14px;
    height: 20px;
  }
  .landing-fonctionnement .fonctionart__texte {
    width: 75%;
    height: 0.9793rem;
    white-space: nowrap;
  }
  .landing-fonctionnement .fonctionart__a {
    position: absolute;
    top: 12px;
    line-height: 1.1875rem;
    color: black;
    text-decoration: none;
  }
  #main {
    height: 668px;
    width: 100%;
    background: #F6F6F6;
  }
  .restos {
    position: relative;
    margin: 0 14.375% 0 13.36875%;
    height: 668px;
  }
  .restos h1 {
    position: absolute;
    top: 30px;
    left: 0;
    height: 1.75rem;
  }
  .restos__container {
    position: absolute;
    top: 85px;
    height: 582px;
    width: 100%;
    margin: 10px 14.5px 10px 14.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restoart {
    position: relative;
    margin: 10px 0 10px 0;
    width: 490px;
    height: 251px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .restoart__img {
    width: 490;
    height: 117px;
    object-fit: cover;
    border-radius: 15px;
  }
  .restodesc {
    position: relative;
    display: grid;
    grid-template-columns: 39.05% 8.38%;
    grid-template-rows: 20px 20px;
  }
  .restodesc__1 {
    grid-column: 1/2;
  }
  .restodesc__p1 {
    margin-block: 10px 0;
    margin-inline: 10px 0;
    font-size: 18px;
    font-weight: 700;
  }
  .restodesc__2 {
    grid-column: 1/2;
    margin-block: 0;
  }
  .restodesc__p2 {
    margin-block: 2px 0;
    margin-inline: 10px 0;
    font-size: 17px;
    font-weight: 300;
  }
  .restodesc__3 {
    position: absolute;
    top: 18px;
    left: 18px;
    grid-column: 2/3;
    width: 23px;
    height: 21px;
  }
  .footer__container {
    height: 114px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
