/*=== - === - === - === - === - === - === - === - === - === - == */
/* --- C a r t e s
/*=== - === - === - === - === - === - === - === - === - === - == */
@font-face {
    font-family: myFirstFont;
    src: url(/Shrikhand-Regular.ttf);
}
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/keyframes";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./components/loading";
@import "./components/favorite";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


body {
    width: 375px;
    margin: auto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}
/* --- Tous sauf enchantée --- */
#landing {
    height: 694px;
    width: 100%;
}

.landingresto {
    position: relative;
    height: 620px;

    &__img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }

    &-container {
        position: absolute;
        top: 220px;
        height: 410px;
        width: 100%;
        background: #F7F7F7;
        border-radius: 25px 25px 0 0;

        &-titre {
        display: flex;
        justify-content: space-around;
        align-items: center;

            &__nom {
                font-family: Shrikhand;
                font-weight: 400;
                font-style: italic;
                font-size: 1.75rem;
                white-space: nowrap;
            }

            &__coeur {
                width: 5.87%;
                height: 21px;
                line-Height: 2.55rem;
                margin-block: 2rem;
            }
        }
        &__entrees {
            position: absolute;
            top: 317px;
            margin: 0 13px 12px 13px;
            width: 93.06%;
            animation-name: loadercartescontainer;
            animation-duration: 30 * $duration;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: cubic-bezier(.67,.14,.18,.61);
            animation-fill-mode: both;
            display: flex;
            flex-wrap: wrap;
            
            h1 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                line-height: 1.1875rem;
                text-transform: uppercase;
            }
        }
    }
}
.loadercontainer {
    position: relative;
    height: 410px;
    width: 100%;
}
.loadercontainer-ne {
    position: relative;
    height: 490px;
    width: 100%;
}
/* --- Spécial note enchantée --- */
#landingne {
    height: 770px;
    width: 100%;
}
.landingrestone {
    position: relative;
    height: 650px;

    &__img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }

    &-container {
        position: absolute;
        top: 220px;
        height: 490px;
        width: 100%;
        background: #F7F7F7;
        border-radius: 25px 25px 0 0;

        &-titre {
        display: flex;
        justify-content: space-around;
        align-items: center;

            &__nom {
                font-family: Shrikhand;
                font-weight: 400;
                font-style: italic;
                font-size: 1.75rem;
            }

            &__coeur {
                width: 5.87%;
                height: 21px;
                margin-block: 2rem;
            }
        }
        &__entrees {
            position: absolute;
            top: 317px;
            margin: 0 13px 12px 13px;
            width: 93.06%;
            display: flex;
            flex-wrap: wrap;
            animation-name: loadercartescontainer-ne;
            animation-duration: 50 * $duration;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: cubic-bezier(.67,.14,.18,.61);
            animation-fill-mode: both;
                    
            h1 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }
}
/* --- Fin spécial Note Enchantée --- */
/* --- ESSAI BV --- */
.menu {

    &-card-section_item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 635px;
        height: 70px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background: #ffffff;
        overflow: hidden;
        margin-bottom: 12px;


        &_description {
            margin: 8px 0px 0px 8px;
            overflow: hidden;
            z-index: 1;
            /*width: 80%;*/
            /*width: 266px;*/

            h3 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 1.125rem;
                color: black;
                max-width: 600px;
                white-space: nowrap;
                margin: 0;
                padding-top: 5px;
                width: 287px;
/*
                overflow: hidden;
                text-overflow: ellipsis;
*/
            }

            p {
                margin: 0;
                padding-top: 5px;
                font-size: 0.9375em;
                font-weight: 500;
                padding-bottom: 5px;
                max-width: 600px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 287px;
            }
        }

        .transition-choice {
            display: flex;
            height: 70px;
            transform: translateX(0px);
            transition:  transform ease-in-out 3*$duration;
            position:relative;
            /*right: -60px;*/
            margin-inline-end: -60px;
        }

        &:hover > .transition-choice {
            transform: translateX(-60px);
        }
        &:hover  .menu-card-section_item_description {
            p {
                width: $choixartlin2;
            }
        }

        &_price {          
            display: flex;
            align-items:flex-end;
            justify-content: center;
            width: 27px;
            margin: 0 8px 0 8px;
            p {
                font-weight: 700;
                font-size: 0.9375em;
            }
        }
        &--selected {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60px;
            background-color: $color-tertiary;
            i {
                color: #ffffff;
                font-size: 1.25em;
            }
        }
    }
}
/* --- F I N ESSAI BV --- */

#plats {
    height: 311px;
    background: #F7F7F7;
}
.plats-container {
    margin: 0 13px 12px 13px;
    width: 93.06%;
    animation-name: loadercartescontainer;
    animation-duration: 60 * $duration;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.67,.14,.18,.61);
    animation-fill-mode: both;
    display: flex;
    flex-wrap: wrap;
    
    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        line-height: 1.1875rem;
        text-transform: uppercase;
        height: 20px;
    }
}
#desserts {
    height: 330px;
    background: #F7F7F7;
}
.desserts-container {
    margin: 0 13px 12px 13px;
    width: 93.06%;
    animation-name: loadercartescontainer;
    animation-duration: 90 * $duration;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.67,.14,.18,.61);
    animation-fill-mode: both;
    display: flex;
    flex-wrap: wrap;
    
    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        line-height: 1.1875rem;
        text-transform: uppercase;
        height: 20px;
    }
}
#commande {
    position: relative;
    width: 100%;
    height: 80px;
    background: #F7F7F7;

    &__btn {
        position: absolute;
        top: 0;
        width: 49.6%;
        left: 25.2%;
    }
}
@media only screen and (min-width: 1440px) {
    body {
        width: 1440px;
    }
    #landing {
        height: 830.66px;
        width: 100%;
    }
    #landingne {
        height: 911.66px;
        width: 100%;
    }
    .menu-card-section_item {
        &:hover  .menu-card-section_item_description {
            p {
                width: $choixartlin2desktop;
            }
        }        
    }
    .landingresto {
        position: relative;
        height: 757px;
    
        &__img {
            height: 393px;
            width: 100%;
            object-fit: cover;
        }
    
        &-container {
            position: absolute;
            top: 343px;
            height: 445px;
            width: 73.2638%;
            background: #F7F7F7;
            border-radius: 25px 25px 0 0;
            margin: 0 13.4027% 0 13.4027%;
    
            &-titre {
                height: 131px;
                display: flex;
                justify-content:center;
                align-items: center;
    
                &__nom {
                    font-family: Shrikhand;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 1.75rem;
                    width: 24.7393%;
                    margin-right: 30px;
                }
    
                &__coeur {
                    width: 2.085%;
                    height: 21px;
                    margin-block: 2rem;
                    margin-left: 24px;
                }
            }
            &__entrees {
                width: 60.094%;
                display: flex;
                flex-wrap: wrap;
                margin: 0 19.952% 0 19.952%;
                
                h1 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    text-transform: uppercase;
                }
            }
        }
    }
/* --- Spécial NoteEnchantée --- */
    .landingrestone {
        position: relative;
        height: 838px;

        &__img {
            height: 393px;
            width: 100%;
            object-fit: cover;
        }

        &-container {
            position: absolute;
            top: 343px;
            height: 526px;
            width: 73.2638%;
            background: #F7F7F7;
            border-radius: 25px 25px 0 0;
            margin: 0 13.4027% 0 13.4027%;

            &-titre {
                height: 131px;
                display: flex;
                justify-content:center;
                align-items: center;

                &__nom {
                    font-family: Shrikhand;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 1.75rem;
                    width: 24.7393%;
                }

                &__coeur {
                    width: 2.085%;
                    height: 21px;
                    margin-block: 2rem;
                    margin-left: 24px;
                }
            }
            &__entrees {
                /*margin-bottom: 12px;*/
                width: 60.094%;
                /*height: 310px;*/
                display: flex;
                flex-wrap: wrap;
                margin: 0 19.952% 0 19.952%;
                
                h1 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    text-transform: uppercase;
                }
            }
        }
    }
/* --- F I N  Spécial NoteEnchantée --- */
    #plats {
        height: 311px;
        width: 73.263%;
        margin: 0 13.368% 0 13.368%;
        background: #F7F7F7;
    }
    .plats-container {
        margin: 20px 19.952% 0 19.952%;
        width: 60.094%;
    }
    #desserts {
        height: 330px;
        width: 73.263%;
        margin: 0 13.368% 0 13.368%;
        background: #F7F7F7;
    }
    .desserts-container {
        margin: 0 19.952% 0 19.952%;
        width: 60.094%;
    }
    #commande {
        position: relative;
        width: 73.263%;
        height: 80px;
        margin: 0 13.368% 0 13.368%;
        background: #F7F7F7;
    
        &__btn {
            position: absolute;
            top: 0;
            width: 14.597%;
            left: 41.137%;
        }
    }
}
