@font-face {
    font-family: myFirstFont;
    src: url(/Shrikhand-Regular.ttf);
}
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/keyframes";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./components/loading";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";


body {
    width: 375px;
    margin: auto;
    font-family: Roboto;
    font-weight: 500;
}
#header {
    height: 63px;
}
.landing-restaurant {
    width: 100%;
    /*height: 5.95vh;*/
    height: 50px;
    background: #EAEAEA;
    display: flex;
    justify-content:center;
    align-items: center;
    &__svg {
        width: 12px;
        height: 1rem;
        margin-right: 20px;;
    }
}
.landing-choixmenu {
    width: 100%;
    /*height: 34.16vh;*/
    height: 287px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*padding: 20px 0;*/
    
    &__p1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-block: 0;
        text-align: center;
        width: 73.33%;
        padding-top: 20px;
    }
    
    &__p2 {
        font-size: 1.125rem;
        font-weight: 300;
        margin-block: 0;
        text-align: center;
        width: 84%;
        /*line-height: 1.32rem;        */
    }
    &__btn {
        width: 58.14%;
        padding-bottom: 40px;
    }
}
.landing-fonctionnement {
    position: relative;
    width: 100%;
    height: 390px;

    h1 {
        position: absolute;
        top: 48px;
        left: 20px;
        font-family: 'Roboto';
        font-size: 1.5rem;
        font-weight: 700;
        margin-block: 0;
    }
    
    &__container {
        position: absolute;
        top: 105px;
        width: 100%;
        margin: 0 20px  0 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.fonctionart {
    width: 86%;
    height: 72.38px;
    box-shadow: 0 0 15px -3px;
    border-radius: 20px;
    margin: 0 15px  24px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &__cn {
        position: relative;
        margin-right: 10px;
        width: 10px;
        height: 72.38px;
    }
    span:nth-child(1) {
        position: absolute;
        left: -18px;
        top: 19px;
        height: 35px;
        width: 35px;
        /*line-height: 20px;*/
    }

    &__no {
        position: absolute;
        left: 14px;
        top: 14px;
        width: 8px;
        height: 11px;
    }
    &__symbol {
        width: 16px;
        height: 21px;
        display: inline;
    }
    &__symbolh {
        width: 16px;
        height: 21px;
        display: none;
        transform: translateX(0);
    }    
    &__texte {
        width: 80.66%;
        height: 1.3125rem;
        font-weight: 500;
        white-space: nowrap;
    }
    &__a {
        color: black;
        text-decoration: none;
    }
    &:hover > .fonctionart__symbol {
        > .fonctionart__fillsymbol {
            fill: $col-violet;
        }
    }
}
#main {
    height: 1195px;
    width: 100%;
    margin-top: 47px;
    background: #F6F6F6;
}
.restos {
    position: relative;

    h1 {
        position: absolute;
        top: 54px;
        left: 15px;
        height: 31px;
        font-family: 'Roboto';
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.76rem;
        margin-block: 0;
        margin-bottom: 8px;    
    }

    &__container {
        position: absolute;
        top: 85px;
        width: 100%;
        height: 318px;
        margin: 10px 14.5px  10px 14.5px;
        display: flex;
        flex-wrap: wrap;

        &-l1 {
            width: 346px;
            height: 522px;
        }
        &-l2 {
            width: 346px;
        }

    }
}
.restoart {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 251px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    &__top {
        position: relative;
        height: 174px;
        width: 100%;

        &-img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &-nouveau {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 80px;
            height: 29px;
            background: $col-lightgreen;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            
            p {
                height: 16px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                color: $col-green;
                margin-block: 0;
                margin-inline: 0;
                padding-top: 4px;
            }
        }
    }
}
.restodesc {
    position: relative;
    height: 77px;
    display: grid;
    grid-template-columns: 261px 80px;
    grid-template-rows: 36px 36px;

    &__1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__p1 {
        margin-block: 10px 0;
        margin-inline: 10px 0;
        font-size: 18px;
        font-weight: 700;
    }

    &__2 {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-block: 0;
    }
    &__p2 {
        margin-block: 2px 0;
        margin-inline: 10px 0;
        font-size: 17px;
        font-weight: 300;
    }
}
/* ---  1   --- */
#restodesc__3 {
    &-1 {
        position: absolute;
        top: 18px;
        left: 18px;
        grid-column: 2/3;
        width: 23px;
        height: 21px;

        &:active  #restodesc__3-1-linear1 {
            --color-stop: #{$col-violet};
            --color-bot: #{$col-pink};
        }
        
        &_coeur {
            fill: url(#restodesc__3-1-linear1);
            stroke: #000;
        }
    }
}
#restodesc__3-1-linear1 {
    --color-stop: #{$col-white};
    --color-bot: #{$col-white};
}
/* ---  2   --- */
#restodesc__3 {
    &-2 {
        position: absolute;
        top: 18px;
        left: 18px;
        grid-column: 2/3;
        width: 23px;
        height: 21px;

        &:active  #restodesc__3-2-linear2 {
            --color-stop: #{$col-violet};
            --color-bot: #{$col-pink};
        }
        
        &_coeur {
            fill: url(#restodesc__3-2-linear2);
            stroke: #000;
        }
    }
}
#restodesc__3-2-linear2 {
    --color-stop: #{$col-white};
    --color-bot: #{$col-white};
}
/* ---  3   --- */
#restodesc__3 {
    &-3 {
        position: absolute;
        top: 18px;
        left: 18px;
        grid-column: 2/3;
        width: 23px;
        height: 21px;

        &:active  #restodesc__3-3-linear3 {
            --color-stop: #{$col-violet};
            --color-bot: #{$col-pink};
        }
        
        &_coeur {
            fill: url(#restodesc__3-3-linear3);
            stroke: #000;
        }
    }
}
#restodesc__3-3-linear3 {
    --color-stop: #{$col-white};
    --color-bot: #{$col-white};
}
/* ---  4   --- */
#restodesc__3 {
    &-4 {
        position: absolute;
        top: 18px;
        left: 18px;
        grid-column: 2/3;
        width: 23px;
        height: 21px;

        &:active  #restodesc__3-4-linear4 {
            --color-stop: #{$col-violet};
            --color-bot: #{$col-pink};
        }
        
        &_coeur {
            fill: url(#restodesc__3-4-linear4);
            stroke: #000;
        }
    }
}
#restodesc__3-4-linear4 {
    --color-stop: #{$col-white};
    --color-bot: #{$col-white};
}

@media only screen and (min-width: 1440px) {
    body {
        width: 1440px;
    }
    #header {
        height: 96px;
    }
    .landing-restaurant {
        width: 100%;
        height: 50px;
        &__svg {
            width: 12px;
            margin-right: 17px;
        }
    }
    .landing-choixmenu {
        height: 239px;
           
        &__p1 {
            width: 44.79%;
            font-size: 2.5rem;
        }
        
        &__p2 {
            width: 36.875%;
            font-size: 1.125rem;
            font-weight: 300;
        }
        &__btn {
            width: 15.14%;
        }
    } 
    .landing-fonctionnement {
        position: relative;
        height: 228.38px;
        margin: 0 12.2% 0 12.2%;
        width: 73.33%;
    
        h1 {
            position: absolute;
            top: 50px;
            line-height: 1.75rem;
        }
        
        &__container {
            position: absolute;
            top: 105px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
        }
        .fonctionart {
            position: relative;
            width: 31.265%;
            height: 72.38px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            
            span:nth-child(1) {
                position: absolute;
                left: -18px;
                top: 19px;
                height: 35px;
                width: 35px;
                line-height: 20px;
            }
        
            &__no {
                position: absolute;
                left: 14px;
                top: 7px;
                width: 5px;
                height: 24px;
            }
            &__symbol {
                position: absolute;
                left: 10.48%;
                top: 24px;
                width: 14px;
                height: 20px;
            }
            &__texte {
                width: 75%;
                height: 0.9793rem;
                white-space: nowrap;
            }
            &__a {
                position: absolute;
                top: 12px;
                line-height: 1.1875rem;
                color: black;
                text-decoration: none;
            }
        }
    }
    #main {
        height: 668px;
        width: 100%;
        background: #F6F6F6;
    }

    .restos {
        position: relative;
        margin: 0 12.2% 0 12.2%;
        height: 668px; 

        h1 {
            position: absolute;
            top: 30px;
            height: 1.75rem;
        }

        &__container {
            position: absolute;
            top: 85px;
            height: 582px;
            width: 100%;

            margin: 10px 14.5px  10px 14.5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

    }
    .restoart {
        position: relative;
        margin: 10px 0 10px 0;
        width: 490px;
        height: 251px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    
        &__img {
            /*width: 490;*/
            height: 174px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .restodesc {
        position: relative;
        height: 77px;
        display: grid;
        grid-template-columns: 77.16% 17.62%;
        grid-template-rows: 40px 40px;
    
        &__p1 {
            margin-block: 10px 0;
            margin-inline: 10px 0;
            font-size: 18px;
            font-weight: 700;
        }
    
        &__p2 {
            margin-block: 2px 0;
            margin-inline: 10px 0;
            font-size: 17px;
            font-weight: 300;
        }
    
        &__3 {
            position: absolute;
            top: 18px;
            left: 18px;
            grid-column: 2/3;
            width: 23px;
            height: 21px;
        }
    }
    .footer__container {
        height: 114px;
        width: 100%;
    }
}
