@keyframes fill-up {
    0% {
        background-position: 0 -10px;
        opacity: 0;
    }
    100% {
        background-position: 0 -40px;
        opacity: 1;
    }
}

@keyframes drain-out {
    0% {
        background-position: 0 -40px;
        opacity: 1;
    }
    100% {
        background-position: 0 -10px;
        opacity: 0; 
    }
}


@keyframes appearance {
    0% {
        opacity: 0;
    }
    20% {

        opacity: .1;
    }
    50% {
        opacity:.4;
    }
    100% {
        opacity:1;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0);
        color: $color-pimary;
    }
    50% {
        color: $color-tertiary-bis;
    }
    100% {
        transform: rotate(25deg);
        color: $color-pimary;
    }
}
    
@keyframes spin-revert {
    0%{
        transform: rotate(0);
        color: $color-pimary;
    }
    50% {
        color: $color-tertiary-bis;
    }
    100% {
        transform: rotate(-25deg);
        color: $color-pimary;
    }
}

@keyframes loading {
    0% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}
@keyframes violetheart {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bottlemouvement {
    0% {transform: rotate(-45deg);
        margin-bottom: 0;}
    20% {margin-bottom: 320px;}
/*
    20% {transform: rotate(-20deg);}
    40% {transform: rotate(5deg);}
    60% {transform: rotate(25deg);}
    80% {transform: rotate(50deg);}
*/
    100% {transform: rotate(70deg);
        margin-bottom: 320px;}
}
@keyframes glasmouvement {
    0% {transform: translateX(-15px);}
/*
    20% {transform: translateX(-30px);}
    40% {transform: translateX(-45px);}
    60% {transform: translateX(-60px);}
    80% {transform: translateX(-75px);}
*/
    100% {transform: translateX(-100px);}
}

@keyframes loadercontainerentrees {
    0% {top: 410px;}
    100% {top: 0;}
}
