:root {
    --hhh: 314deg;
    --sss: 67%;
    --lll: 37%;
}

$col-violet: #9356dc;
$col-darkblue: #003a68;
$col-lightblue: #89C8FA;
$col-green: #008766;
$col-lightgreen: #99E2D0;
$col-lightpink: #fcc0ce;
$col-white: #ffffff;
$col-pink: #FF79DA;
$col-grey: #D2D2D2;
$col-darkgrey: #353535;
$col-bottle: hsl(var(--hhh),var(--sss),var(--lll));
$primary-background: #F6F6F6;
$choixartlin2: 230px;
$choixartlin2desktop: 550px;
$loaderph: 200px;
$loaderpw: 100px;
$loadertopbot: 100px;
$loaderbotleft: 50px;

$duration: 100ms;
$color-tertiary: #99E2D0;
$color-pimary: #9356DC;
$color-tertiary-bis: #008766;