$col-violet: #9356dc;
$col-darkblue: #003a68;
$col-lightblue: #89C8FA;
$col-green: #008766;
$col-lightgreen: #99E2D0;
$col-lightpink: #fcc0ce;
$col-white: #ffffff;
$col-pink: #FF79DA;
$col-grey: #D2D2D2;
$col-darkgrey: #353535;