header {
    @include flex-center;
    height: 65px;
    gap: 10px;
    position: relative;
    img {
        width: 162px;
        height: 27.7px;
        @media (min-width: 768px) {
            width: 200px;
            height: 34.2px;
        }
    }
}
.back-to-index {
    position: absolute;
    top: 32.5px;
    left : 20px;
    a {
        color: #000;
    }
}