.landing-entete {
    display: flex;
    justify-content: center;
    align-items: center;

    &__svgfleche {
        top: 18px;
        left: 1.6%;
        width : 4.59%;
        height: 1rem;
       }

    &__svg {
        line-height: 2.75rem;
        font-size: 1.875rem;
        font-family: myFirstFont;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        color: #101010;
        margin-block: 0;
   }
}
.landing-entetecartes {
    position: relative;
    height: 63px;

    &__fleche {
        position: absolute;
        top: 24px;
        left: 23px;
        width : 17.2px;
        height: 1rem;
       }

    &__svg {
        position: absolute;
        top: 14px;
        left: 28%;
        width: 43.2%;
        height: 44px;
        line-height: 2.75rem;
        font-size: 1.875rem;
        font-family: myFirstFont;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        color: #101010;
        margin-block: 0;
   }
}
@media only screen and (min-width: 1440px) {
    .landing-entete {
        position: relative;
        top: 0;
        left: 0;
        height: 96px;

        &__svgfleche {
            position: absolute;
            top: 40px;
            left: 1.6%;
            width : 1.19%;
            height: 1rem;
           }
        &__svg {
            position: absolute;
            top: 30px;
            left: 43.05%;
            width : 13.89%;
       }
    }    
    .landing-entetecartes {
        position: relative;
        height: 63px;
    
        &__fleche {
            position: absolute;
            top: 24px;
            left: 23px;
            width : 17.2px;
            height: 1rem;
           }
    
        &__svg {
            position: absolute;
            left: 42.986%;
            width: 13.888%;
            height: 2.1375rem;
            font-size: 1.875rem;
            font-family: myFirstFont;
            font-style: italic;
            font-weight: 400;
            text-align: center;
            color: #101010;
       }
    }
}