.landing-entete {
    left: 0%;
    height: 7.5vh;
    right: 0%;
    bottom: 44.25%;
    &__svg {
        left: 28%;
        width : 43.2%;
        height: 44px;
   }
   &__svgfleche {
    left: 6px;
    width : 17.2px;
    height: 16px;
   }
}
